<ion-view view-title="game page">
  <ion-content class="padding">



    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
  </ion-content>
</ion-view>
