<ion-view view-title="home page">
  <ion-content class="padding">

    <button class="button button-positive" ui-sref="about"> go to about page </button>
    <button class="button button-positive" ui-sref="game"> למשחק </button>
    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
    <div class="box">
      <div class="front">
        Sample
      </div>
      <div class="back">
        abcdefg

      </div>
    </div>
  </ion-content>
</ion-view>
